src/conf/xml-resources/web-service-references/ServicioHotel/wsdl/localhost_8080/ProyectoSOAP-master/ServicioHotel.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioHotelWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioHotelWS/" name="ServicioHotel">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioHotelWS/" schemaLocation="http://localhost:8080/ProyectoSOAP-master/ServicioHotel?xsd=1"/>
</xsd:schema>
</types>
<message name="verificarDisponibilidad">
<part name="parameters" element="tns:verificarDisponibilidad"/>
</message>
<message name="verificarDisponibilidadResponse">
<part name="parameters" element="tns:verificarDisponibilidadResponse"/>
</message>
<message name="listarReservas">
<part name="parameters" element="tns:listarReservas"/>
</message>
<message name="listarReservasResponse">
<part name="parameters" element="tns:listarReservasResponse"/>
</message>
<message name="cancelarReserva">
<part name="parameters" element="tns:cancelarReserva"/>
</message>
<message name="cancelarReservaResponse">
<part name="parameters" element="tns:cancelarReservaResponse"/>
</message>
<message name="reservarHotel">
<part name="parameters" element="tns:reservarHotel"/>
</message>
<message name="reservarHotelResponse">
<part name="parameters" element="tns:reservarHotelResponse"/>
</message>
<portType name="ServicioHotel">
<operation name="verificarDisponibilidad">
<input wsam:Action="http://servicioHotelWS/ServicioHotel/verificarDisponibilidadRequest" message="tns:verificarDisponibilidad"/>
<output wsam:Action="http://servicioHotelWS/ServicioHotel/verificarDisponibilidadResponse" message="tns:verificarDisponibilidadResponse"/>
</operation>
<operation name="listarReservas">
<input wsam:Action="http://servicioHotelWS/ServicioHotel/listarReservasRequest" message="tns:listarReservas"/>
<output wsam:Action="http://servicioHotelWS/ServicioHotel/listarReservasResponse" message="tns:listarReservasResponse"/>
</operation>
<operation name="cancelarReserva">
<input wsam:Action="http://servicioHotelWS/ServicioHotel/cancelarReservaRequest" message="tns:cancelarReserva"/>
<output wsam:Action="http://servicioHotelWS/ServicioHotel/cancelarReservaResponse" message="tns:cancelarReservaResponse"/>
</operation>
<operation name="reservarHotel">
<input wsam:Action="http://servicioHotelWS/ServicioHotel/reservarHotelRequest" message="tns:reservarHotel"/>
<output wsam:Action="http://servicioHotelWS/ServicioHotel/reservarHotelResponse" message="tns:reservarHotelResponse"/>
</operation>
</portType>
<binding name="ServicioHotelPortBinding" type="tns:ServicioHotel">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verificarDisponibilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reservarHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioHotel">
<port name="ServicioHotelPort" binding="tns:ServicioHotelPortBinding">
<soap:address location="http://localhost:8080/ProyectoSOAP-master/ServicioHotel"/>
</port>
</service>
</definitions>