src/conf/xml-resources/web-service-references/ServicioTarjetaCredito/wsdl/localhost_8080/ProyectoSOAP-master/ServicioTarjetaCredito.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioTarjetaWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioTarjetaWS/" name="ServicioTarjetaCredito">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioTarjetaWS/" schemaLocation="http://localhost:8080/ProyectoSOAP-master/ServicioTarjetaCredito?xsd=1"/>
</xsd:schema>
</types>
<message name="validarTarjetaCredito">
<part name="parameters" element="tns:validarTarjetaCredito"/>
</message>
<message name="validarTarjetaCreditoResponse">
<part name="parameters" element="tns:validarTarjetaCreditoResponse"/>
</message>
<message name="ActualizarTarjeta">
<part name="parameters" element="tns:ActualizarTarjeta"/>
</message>
<message name="ActualizarTarjetaResponse">
<part name="parameters" element="tns:ActualizarTarjetaResponse"/>
</message>
<message name="validarFechaVencimiento">
<part name="parameters" element="tns:validarFechaVencimiento"/>
</message>
<message name="validarFechaVencimientoResponse">
<part name="parameters" element="tns:validarFechaVencimientoResponse"/>
</message>
<message name="obtenerHistorialTarjeta">
<part name="parameters" element="tns:obtenerHistorialTarjeta"/>
</message>
<message name="obtenerHistorialTarjetaResponse">
<part name="parameters" element="tns:obtenerHistorialTarjetaResponse"/>
</message>
<message name="consultarSaldoDisponible">
<part name="parameters" element="tns:consultarSaldoDisponible"/>
</message>
<message name="consultarSaldoDisponibleResponse">
<part name="parameters" element="tns:consultarSaldoDisponibleResponse"/>
</message>
<message name="realizarTransaccion">
<part name="parameters" element="tns:realizarTransaccion"/>
</message>
<message name="realizarTransaccionResponse">
<part name="parameters" element="tns:realizarTransaccionResponse"/>
</message>
<message name="RegistroTarjeta">
<part name="parameters" element="tns:RegistroTarjeta"/>
</message>
<message name="RegistroTarjetaResponse">
<part name="parameters" element="tns:RegistroTarjetaResponse"/>
</message>
<message name="retirarDinero">
<part name="parameters" element="tns:retirarDinero"/>
</message>
<message name="retirarDineroResponse">
<part name="parameters" element="tns:retirarDineroResponse"/>
</message>
<portType name="ServicioTarjetaCredito">
<operation name="validarTarjetaCredito">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/validarTarjetaCreditoRequest" message="tns:validarTarjetaCredito"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/validarTarjetaCreditoResponse" message="tns:validarTarjetaCreditoResponse"/>
</operation>
<operation name="ActualizarTarjeta">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/ActualizarTarjetaRequest" message="tns:ActualizarTarjeta"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/ActualizarTarjetaResponse" message="tns:ActualizarTarjetaResponse"/>
</operation>
<operation name="validarFechaVencimiento">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/validarFechaVencimientoRequest" message="tns:validarFechaVencimiento"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/validarFechaVencimientoResponse" message="tns:validarFechaVencimientoResponse"/>
</operation>
<operation name="obtenerHistorialTarjeta">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/obtenerHistorialTarjetaRequest" message="tns:obtenerHistorialTarjeta"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/obtenerHistorialTarjetaResponse" message="tns:obtenerHistorialTarjetaResponse"/>
</operation>
<operation name="consultarSaldoDisponible">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/consultarSaldoDisponibleRequest" message="tns:consultarSaldoDisponible"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/consultarSaldoDisponibleResponse" message="tns:consultarSaldoDisponibleResponse"/>
</operation>
<operation name="realizarTransaccion">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/realizarTransaccionRequest" message="tns:realizarTransaccion"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/realizarTransaccionResponse" message="tns:realizarTransaccionResponse"/>
</operation>
<operation name="RegistroTarjeta">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/RegistroTarjetaRequest" message="tns:RegistroTarjeta"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/RegistroTarjetaResponse" message="tns:RegistroTarjetaResponse"/>
</operation>
<operation name="retirarDinero">
<input wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/retirarDineroRequest" message="tns:retirarDinero"/>
<output wsam:Action="http://servicioTarjetaWS/ServicioTarjetaCredito/retirarDineroResponse" message="tns:retirarDineroResponse"/>
</operation>
</portType>
<binding name="ServicioTarjetaCreditoPortBinding" type="tns:ServicioTarjetaCredito">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarTarjetaCredito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarFechaVencimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerHistorialTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarSaldoDisponible">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirarDinero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioTarjetaCredito">
<port name="ServicioTarjetaCreditoPort" binding="tns:ServicioTarjetaCreditoPortBinding">
<soap:address location="http://localhost:8080/ProyectoSOAP-master/ServicioTarjetaCredito"/>
</port>
</service>
</definitions>