src/conf/xml-resources/web-service-references/ServicioLineaArea/wsdl/localhost_8080/ProyectoSOAP/ServicioLineaArea.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://servicioLineaAreaWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicioLineaAreaWS/">

<xs:element name="AnularVuelo" type="tns:AnularVuelo"/>

<xs:element name="AnularVueloResponse" type="tns:AnularVueloResponse"/>

<xs:element name="BuscarLineaArea" type="tns:BuscarLineaArea"/>

<xs:element name="BuscarLineaAreaResponse" type="tns:BuscarLineaAreaResponse"/>

<xs:element name="BuscarVuelos" type="tns:BuscarVuelos"/>

<xs:element name="BuscarVuelosResponse" type="tns:BuscarVuelosResponse"/>

<xs:element name="CambiarVuelo" type="tns:CambiarVuelo"/>

<xs:element name="CambiarVueloResponse" type="tns:CambiarVueloResponse"/>

<xs:element name="RegistroHorario" type="tns:RegistroHorario"/>

<xs:element name="RegistroHorarioResponse" type="tns:RegistroHorarioResponse"/>

<xs:element name="RegistroLineaArea" type="tns:RegistroLineaArea"/>

<xs:element name="RegistroLineaAreaResponse" type="tns:RegistroLineaAreaResponse"/>

<xs:complexType name="RegistroHorario">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="horaLLegada" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroHorarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroLineaArea">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="tns:horarioVuelo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioVuelo">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="horaLlegada" type="xs:string" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="idHorario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroLineaAreaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarLineaArea">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarLineaAreaResponse">
<xs:sequence>
<xs:element name="return" type="tns:lineaArea" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lineaArea">
<xs:sequence>
<xs:element name="horarios" type="tns:horarioVuelo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idLineaAerea" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarVuelos">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarVuelosResponse">
<xs:sequence>
<xs:element name="return" type="tns:horarioVuelo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AnularVuelo">
<xs:sequence>
<xs:element name="numeroVuelo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AnularVueloResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CambiarVuelo">
<xs:sequence>
<xs:element name="numeroVuelo" type="xs:int"/>
<xs:element name="nuevaFecha" type="xs:string" minOccurs="0"/>
<xs:element name="nuevaHora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CambiarVueloResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>