src/conf/xml-resources/web-service-references/ServicioLineaArea/wsdl/localhost_8080/ProyectoSOAP/ServicioLineaArea.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioLineaAreaWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioLineaAreaWS/" name="ServicioLineaArea">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioLineaAreaWS/" schemaLocation="http://localhost:8080/ProyectoSOAP/ServicioLineaArea?xsd=1"/>
</xsd:schema>
</types>
<message name="BuscarVuelos">
<part name="parameters" element="tns:BuscarVuelos"/>
</message>
<message name="BuscarVuelosResponse">
<part name="parameters" element="tns:BuscarVuelosResponse"/>
</message>
<message name="RegistroHorario">
<part name="parameters" element="tns:RegistroHorario"/>
</message>
<message name="RegistroHorarioResponse">
<part name="parameters" element="tns:RegistroHorarioResponse"/>
</message>
<message name="BuscarLineaArea">
<part name="parameters" element="tns:BuscarLineaArea"/>
</message>
<message name="BuscarLineaAreaResponse">
<part name="parameters" element="tns:BuscarLineaAreaResponse"/>
</message>
<message name="AnularVuelo">
<part name="parameters" element="tns:AnularVuelo"/>
</message>
<message name="AnularVueloResponse">
<part name="parameters" element="tns:AnularVueloResponse"/>
</message>
<message name="CambiarVuelo">
<part name="parameters" element="tns:CambiarVuelo"/>
</message>
<message name="CambiarVueloResponse">
<part name="parameters" element="tns:CambiarVueloResponse"/>
</message>
<message name="RegistroLineaArea">
<part name="parameters" element="tns:RegistroLineaArea"/>
</message>
<message name="RegistroLineaAreaResponse">
<part name="parameters" element="tns:RegistroLineaAreaResponse"/>
</message>
<portType name="ServicioLineaArea">
<operation name="BuscarVuelos">
<input wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/BuscarVuelosRequest" message="tns:BuscarVuelos"/>
<output wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/BuscarVuelosResponse" message="tns:BuscarVuelosResponse"/>
</operation>
<operation name="RegistroHorario">
<input wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/RegistroHorarioRequest" message="tns:RegistroHorario"/>
<output wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/RegistroHorarioResponse" message="tns:RegistroHorarioResponse"/>
</operation>
<operation name="BuscarLineaArea">
<input wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/BuscarLineaAreaRequest" message="tns:BuscarLineaArea"/>
<output wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/BuscarLineaAreaResponse" message="tns:BuscarLineaAreaResponse"/>
</operation>
<operation name="AnularVuelo">
<input wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/AnularVueloRequest" message="tns:AnularVuelo"/>
<output wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/AnularVueloResponse" message="tns:AnularVueloResponse"/>
</operation>
<operation name="CambiarVuelo">
<input wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/CambiarVueloRequest" message="tns:CambiarVuelo"/>
<output wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/CambiarVueloResponse" message="tns:CambiarVueloResponse"/>
</operation>
<operation name="RegistroLineaArea">
<input wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/RegistroLineaAreaRequest" message="tns:RegistroLineaArea"/>
<output wsam:Action="http://servicioLineaAreaWS/ServicioLineaArea/RegistroLineaAreaResponse" message="tns:RegistroLineaAreaResponse"/>
</operation>
</portType>
<binding name="ServicioLineaAreaPortBinding" type="tns:ServicioLineaArea">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="BuscarVuelos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroHorario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarLineaArea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AnularVuelo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CambiarVuelo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroLineaArea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioLineaArea">
<port name="ServicioLineaAreaPort" binding="tns:ServicioLineaAreaPortBinding">
<soap:address location="http://localhost:8080/ProyectoSOAP/ServicioLineaArea"/>
</port>
</service>
</definitions>