src/conf/xml-resources/web-service-references/ServicioLineaArea/wsdl/localhost_8080/ProyectoSOAP-master/ServicioLineaArea.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicioLineaAreaWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicioLineaAreaWS/">

<xs:element name="AnularVuelo" type="tns:AnularVuelo"/>

<xs:element name="AnularVueloResponse" type="tns:AnularVueloResponse"/>

<xs:element name="BuscarLineaArea" type="tns:BuscarLineaArea"/>

<xs:element name="BuscarLineaAreaResponse" type="tns:BuscarLineaAreaResponse"/>

<xs:element name="BuscarVuelos" type="tns:BuscarVuelos"/>

<xs:element name="BuscarVuelosResponse" type="tns:BuscarVuelosResponse"/>

<xs:element name="ListarHorarios" type="tns:ListarHorarios"/>

<xs:element name="ListarHorariosResponse" type="tns:ListarHorariosResponse"/>

<xs:element name="ListarLieneasAereas" type="tns:ListarLieneasAereas"/>

<xs:element name="ListarLieneasAereasResponse" type="tns:ListarLieneasAereasResponse"/>

<xs:element name="RegistroHorario" type="tns:RegistroHorario"/>

<xs:element name="RegistroHorarioResponse" type="tns:RegistroHorarioResponse"/>

<xs:element name="RegistroLineaAerea" type="tns:RegistroLineaAerea"/>

<xs:element name="RegistroLineaAereaResponse" type="tns:RegistroLineaAereaResponse"/>

<xs:element name="cambiarVuelo" type="tns:cambiarVuelo"/>

<xs:element name="cambiarVueloResponse" type="tns:cambiarVueloResponse"/>

<xs:complexType name="RegistroHorario">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="horaLLegada" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroHorarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarLineaArea">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarLineaAreaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarVuelos">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarVuelosResponse">
<xs:sequence>
<xs:element name="return" type="tns:horarioVuelo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioVuelo">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="horaLlegada" type="xs:string" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="idHorario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarVuelo">
<xs:sequence>
<xs:element name="numeroVuelo" type="xs:string" minOccurs="0"/>
<xs:element name="nuevaFecha" type="xs:string" minOccurs="0"/>
<xs:element name="nuevaHoraSalida" type="xs:string" minOccurs="0"/>
<xs:element name="nuevaHoraLlegada" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarVueloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AnularVuelo">
<xs:sequence>
<xs:element name="numeroVuelo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AnularVueloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarLieneasAereas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarLieneasAereasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarHorarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarHorariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroLineaAerea">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="idHorarios" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroLineaAereaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>