src/conf/xml-resources/web-service-references/InicioSesion/wsdl/localhost_8080/ProyectoSOAP-master/InicioSesion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioInicioSesion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioInicioSesion/" name="InicioSesion">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioInicioSesion/" schemaLocation="http://localhost:8080/ProyectoSOAP-master/InicioSesion?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getSecurityQuestion">
<part name="parameters" element="tns:getSecurityQuestion"/>
</message>
<message name="getSecurityQuestionResponse">
<part name="parameters" element="tns:getSecurityQuestionResponse"/>
</message>
<message name="alterLoginAnswer">
<part name="parameters" element="tns:alterLoginAnswer"/>
</message>
<message name="alterLoginAnswerResponse">
<part name="parameters" element="tns:alterLoginAnswerResponse"/>
</message>
<message name="Registro">
<part name="parameters" element="tns:Registro"/>
</message>
<message name="RegistroResponse">
<part name="parameters" element="tns:RegistroResponse"/>
</message>
<portType name="InicioSesion">
<operation name="login">
<input wsam:Action="http://servicioInicioSesion/InicioSesion/loginRequest" message="tns:login"/>
<output wsam:Action="http://servicioInicioSesion/InicioSesion/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getSecurityQuestion">
<input wsam:Action="http://servicioInicioSesion/InicioSesion/getSecurityQuestionRequest" message="tns:getSecurityQuestion"/>
<output wsam:Action="http://servicioInicioSesion/InicioSesion/getSecurityQuestionResponse" message="tns:getSecurityQuestionResponse"/>
</operation>
<operation name="alterLoginAnswer">
<input wsam:Action="http://servicioInicioSesion/InicioSesion/alterLoginAnswerRequest" message="tns:alterLoginAnswer"/>
<output wsam:Action="http://servicioInicioSesion/InicioSesion/alterLoginAnswerResponse" message="tns:alterLoginAnswerResponse"/>
</operation>
<operation name="Registro">
<input wsam:Action="http://servicioInicioSesion/InicioSesion/RegistroRequest" message="tns:Registro"/>
<output wsam:Action="http://servicioInicioSesion/InicioSesion/RegistroResponse" message="tns:RegistroResponse"/>
</operation>
</portType>
<binding name="InicioSesionPortBinding" type="tns:InicioSesion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSecurityQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterLoginAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InicioSesion">
<port name="InicioSesionPort" binding="tns:InicioSesionPortBinding">
<soap:address location="http://localhost:8080/ProyectoSOAP-master/InicioSesion"/>
</port>
</service>
</definitions>